// 颜色数组： 后台可以通过返回数值来确定多选框的背景色
// [
//   '#53D397',
//   '#20C1BD',
//   '#58DADA',
//   '#0FC9E7',
//   '#3498DB',
//   '#4586FF',
//   '#8983F3',
//   '#AEA1EA',
//   '#FF6699',
//   '#F24D70',
//   '#FF6F6F']
.color_1{
  ::v-deep.el-checkbox__inner{
     border-color: #53D397;

    }
 ::v-deep.is-checked{
    .el-checkbox__inner{
     border-color: #53D397;
     background-color: #53D397;
    }
  }
}
.color_2{
  ::v-deep.el-checkbox__inner{
    border-color: #20C1BD;
  }
 ::v-deep.is-checked{
   .el-checkbox__inner{
     background-color: #20C1BD;
     border-color: #20C1BD;
      }
  }
}

.color_3{
  ::v-deep.el-checkbox__inner{
     border-color: #58DADA;
  }
 ::v-deep.is-checked{
   .el-checkbox__inner{
     background-color: #58DADA;
     border-color: #58DADA;
      }
  }
}

.color_4{
  ::v-deep.el-checkbox__inner{
     border-color: #0FC9E7;
  }
 ::v-deep.is-checked{
   .el-checkbox__inner{
     background-color: #0FC9E7;
     border-color: #0FC9E7;
      }
  }
}

.color_5{
  ::v-deep.el-checkbox__inner{
     border-color: #3498DB;
  }
 ::v-deep.is-checked{
   .el-checkbox__inner{
     background-color: #3498DB;
     border-color: #3498DB;
      }
  }
}

.color_6{
  ::v-deep.el-checkbox__inner{
     border-color: #4586FF;
  }
 ::v-deep.is-checked{
   .el-checkbox__inner{
     background-color: #4586FF;
     border-color: #4586FF;
      }
  }
}

.color_7{
  ::v-deep.el-checkbox__inner{
     border-color: #8983F3;
  }
 ::v-deep.is-checked{
   .el-checkbox__inner{
     background-color: #8983F3;
     border-color: #8983F3;
      }
  }
}

.color_8{
  ::v-deep.el-checkbox__inner{
     border-color: #AEA1EA;
  }
 ::v-deep.is-checked{
  .el-checkbox__inner{
     background-color: #AEA1EA;
     border-color: #AEA1EA;
      }
  }
}

.color_9{
  ::v-deep.el-checkbox__inner{
     border-color: #FF6699;
  }
 ::v-deep.is-checked{
   .el-checkbox__inner{
     background-color: #FF6699;
     border-color: #FF6699;
      }
  }
}

.color_10{
  ::v-deep.el-checkbox__inner{
     border-color: #F24D70;
  }
 ::v-deep.is-checked{
   .el-checkbox__inner{
     background-color: #F24D70;
     border-color: #F24D70;
      }
  }
}

.color_11{
  ::v-deep.el-checkbox__inner{
     border-color: #FF6F6F;
  }
 ::v-deep.is-checked{
   .el-checkbox__inner{
     background-color: #FF6F6F;
     border-color: #FF6F6F;
      }
  }
}
